/** START FROPJ **/

body {
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  background: #C0C0C0;
}

/* TEXT */
.txt {
  color: #FFF;
}

p.text-muted {
  padding-top: 10px;
}

.bold {
  font-weight: bold;
}

/* BACKGROUND */
.jumbotron.bckgd {
  background: #486093;
}

.card.bckgd {
  background: #C0C0C0;
}

/* MARGIN */
.mbzero {
  margin-bottom: 0;
}

.mb15rem {
  margin-bottom: .15rem;
}

.mb25rem {
  margin-bottom: .25rem;
}

.mb50rem {
  margin-bottom: .50rem;
}

.mb75rem {
  margin-bottom: .75rem;
}

.mb1rem {
  margin-bottom: 1rem;
}

.mt25rem {
  margin-top: .25rem;
}

.mt50rem {
  margin-top: .50rem;
}

.ml25rem {
  margin-left: .25rem;
}

/* PADDING */
.plrzero {
  padding-left: 0;
  padding-right: 0;
}

.pl25rem {
  padding-left: .25rem;
}

.pr1rem {
  padding-right: 1rem;
}

.ptbzero {
  padding-top: 0;
  padding-bottom: 0;
}

.pt25rem {
  padding-top: .25rem;
}

.p75rem {
  padding: .75rem;
}

/* BORDER */
.bzero {
  border: 0;
}

/* LIST ITEM */
ul { 
  list-style-type: none; 
  padding: 0;
} 

li.list-group-item {
  line-height: 1rem;
  padding: 0;
  border: 0;
}

.card-heading.bckgd {
  background: #C0C0C0;
}

/* STORESTEMPLATE */
.storesTemplate  {
  border: .25rem;
}

.card-body.storebody {
  /*background:#DFE7FF;*/
  background: #DFE7FF;
  padding: .50rem;
}

.card-footer.storefooter {
  background: #DFE7FF;
  padding-top: 0;
  padding-left: .50rem;
  padding-bottom: .50rem;
  border-top: 0;
}

/* PRODUCTSTEMPLATE */
.productsTemplate {
  border: .25rem;
}

.card-body.productbody {
  background: #FFF7DF;
  padding: .50rem;
}

.card-footer.productfooter {
  background: #FFF7DF;
  padding-top: 0;
  padding-left: .50rem;
  padding-bottom: .50rem;
  border-top: 0;
}

/* MAIN FOOTER */
.footer {
  position: fixed-bottom;
  left: 0;
  bottom: 0;
  width: 100%;
 
}

.navbar-fixed-bottom.footer-bckgd {
  background: #C0C0C0;
}

.welcome {
  font-size: 18px;
  display: inline;
  padding: 5px;
}