body {
  padding-top: 2.5rem;
  padding-bottom: 5.0rem;
  background: #C0C0C0;
}

.jumbotron.txt {
  color: #FFF;
}

/* BACKGROUND */
.jumbotron.bckgd {
  background: #486093;
}

.card.bckgd {
  background: #C0C0C0;
}

/* MARGIN */
.mbzero {
  margin-bottom: 0;
}

.mb25rem {
  margin-bottom: .25rem;
}

.mb50rem {
  margin-bottom: .50rem;
}

.ml25rem {
  margin-left: .25rem;
}

/* PADDING */
.plrzero {
  padding-left: 0;
  padding-right: 0;
}

.pr1rem {
  padding-right: 1rem;
}

.ptbzero {
  padding-top: 0;
  padding-bottom: 0;
}

.p75rem {
  padding: .75rem;
}

/* BORDER */
.bzero {
  border: 0;
}

ul { 
  list-style-type: none; 
  padding: 0;
} 

li.list-group-item {
  line-height: 1rem;
  padding: 0;
  border: 0;
}
 
.bold {
  font-weight: bold;
}


.panel-heading.bckgd {
  background: #C0C0C0;
}

.storesTemplate {
  border: .25rem;
}

.card-body.storebody {
  /*background:#DFE7FF;*/
  background: #DFE7FF;
  padding: .50rem;
}

.panel-footer.storefooter {
  background: #DFE7FF;
}

.panel-body.productbody {
  background: #FFF7DF;
}

.panel-footer.productfooter {
  background: #FFF7DF
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 114px;
}

.navbar-fixed-bottom.footer-bckgd {
  background: #C0C0C0;
}

p.text-muted {
  padding-top: 10px;
}

.welcome {
  font-size: 18px;
  display: inline;
  padding: 5px;
}